body {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  font-family: "Space Grotesk", sans-serif;
  margin: 2em;
  max-width: 600px;
}

a {
  color: light-dark(blue, cyan);
}

a:hover {
  color: light-dark(blue, cyan);
  background-color: light-dark(blue, cyan);
  transition: all 0.25s ease-in-out;
}